		<h1>Winter Session 2010 Time Line</h1>

<p>October 25: Proposal Form and Alternate Contribution for Winter Programs Available</p>

<p>November 1: Proposal Deadline</p>

<p>January 4 - March 12, 2010: Winter Session (10 weeks)<p>


