		<h1>Spring Session 2010 Time Line</h1>

<p>February 15: Program Proposal and Alternate Contribution Forms Available</p>
<p>February 22: Program Proposals due</p>
<p>March 12: Winter Classes End</p>
<p>March 15: Enrollment Begins</p>
<p>March 22: Enrollment Deadline</p>
<p>April 5: Enrollment results announced</p>
<p>April 12 - June 4, 2010: Spring Session (8 weeks)<p>

