		<h1>Spring Session 2009 Time Line</h1>

<p>Feb. 8 Proposal Form for Spring Programs Available</p>

<p>Feb. 15 Proposal Deadline</p>

<p>Feb. 18 Member Fees Due (for spring session)</p>

<p>March 9 Enrollment begins</p>

<p>March 13 Winter Session Ends</p>

<p>March 16 Enrollment Deadline</p>

<p>March 30 Enrollment Announced</p>


