<h1>Who we are:</h1>
<p>The Northern Light Learning Center is a non-profit, non-sectarian organization. Our primary purpose is to build a  	cooperative learning community that expands the educational and social opportunities for homeschoolers in the  	Ithaca area. We coordinate a regular schedule of classes and events, maintain a central gathering space, and  	organize shared resources.  NLLC is a safe and supportive environment. Here, adults and children of all ages can  	share their lives and learn together in ways that are fun, engaging, and meaningful.</p>

<h1>Our Program:</h1>
<p>Our programming will be organized seasonally,  including: classes on a wide range of subjects, social clubs and gatherings,  	community events, special workshops, and field trips. Most of these programs will be led or  	organized by members, with the support and coordination of our Programming Coodinator. Member programs  	are all free aside from material fees.  Paid instructors will be found within the wider community for specific expertise  	or group tutoring as needed, with the cost shared by those attending.</p>

<h1>Our Space:</h1>
<p>NLLC is located in the Henry St. John Building on the corner of Clinton and Geneva streets in downtown Ithaca. Our mainspace includes a classroom, a large social/play area,  and we have scheduled use of a gym and conference room. This  range of spaces can accommodate many types of activities, small or large,  focused or energetic.</p>

