[% PROCESS member/enroll/enroll_links.tt %]
<h1>Enrollment by Family</h1>
<p><a href="[% c.uri_for('') %]">Back to Enrollment</a>&nbsp;&nbsp;&nbsp;&nbsp;
   <a href="[% c.uri_for('list') %]">To Activity Enrollment list</a></p>

[% WHILE (family = families.next) %]
   <p><strong>
   [% family.first_name1 _ " " _ family.last_name1 %]
   [% IF family.first_name2; " and " _ family.first_name2 _ " " _ family.last_name2; END %]
   </strong></p>
   <hr />
        
   [% children = family.search_related_rs('children') %] 
   [% WHILE (child = children.next) %]
   <p><strong>[% child.firstname _ " " _ child.lastname %]</strong></p>
   [% SET child_activities = child.search_related_rs('child_activities', {session_id => new_session}, {order_by => 'interest'}) %]
      <ul class="nobullet">
   [% WHILE (child_activity = child_activities.next) %]
   <li>
      <strong>[% child_activity.interest %]</strong>  
      &nbsp;&nbsp;&nbsp;&nbsp;
      [% child_activity.activity.name %]&nbsp;&nbsp;
      [% IF child_activity.enrolled == 2 %]
         <span style="color:red">[ WAITLIST ]</span>
      [% END %]
   </li>
   [% END %]
      </ul>
   [% END %]

   <br />
[% END %]
