

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/nllcTemplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="A homeschool resource cooperative serving the tompkins county area.">
<meta name="keywords" content="northern light learning center homeschool cooperative">
<meta name="robots" content="index, follow">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Northern Light Learning Center, Ithaca - New York - Welcome!</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<link href="../include/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="site">
	<div id="banner"></div>
	<div id="body">
		<div id="menu">
		  <ul><li><a href="../">home</a></li>
                      <li><a href="../?page_id=3">members</a></li>
                      <li><a href="../?page_id=4">about us</a></li>
                      <li><a href="../?page_id=5.html">events</a></li>
                      <li><a href="../?page_id=6.html">contact</a></li>
                      <li><a href="../admin/adminindex.php">admin</a></li>
                  </ul>
		</div>
		<P>&nbsp;</P>
		<div id="content">
		 <!-- InstanceBeginEditable name="Content" -->
<table cellpadding=0 cellspacing=0 border=0>
	<tr>
		   <td class='contactcell'><br><br><br><br></td><td class='contactcell'>Agarwal, Madhurima<br>Gildensleeve, Bert<br>4135 Tichenor Rd. 
Hector, NY
14841-9688<br>546-2094<br>ma24@cornell.edu<br>Ishan, Tara</td></tr><tr><td class='contactcell'>Albonesi, MaryAnn<br>Albonesi, Dave<br><br>319-0205<br>albonesi@earthlink.net<br>John, Lydia</td><td class='contactcell'>Bard, Lorraine<br>Uhlen, Jerry<br><br>273 2613<br>wildmtmama@hotmail.com<br>Troy, Wyeth, Ella</td></tr><tr><td class='contactcell'>Barreno, Ananda<br>1 German Cross Road
Ithaca, NY 14850<br>387-3333<br>A.Barreno@juno.com<br>Nico</td><td class='contactcell'>Barry, Paula<br>Gaydos, David<br><br>564-5044<br>dgaydos@twcny.rr.com<br>Gabriel, Aiden</td></tr><tr><td class='contactcell'>Berger, Sharon<br>Sugarman, Franz<br>245 Eastman Hill Road
Willseyville NY 13864<br>659-3567<br>sa.berger@frontiernet.net<br>Oliver, Sam</td><td class='contactcell'>Birnbaum, Jennifer Lawrence<br>Lawrence, Mark<br><br>277-7664<br>jlbirnbaum@yahoo.com<br>Zeke</td></tr><tr><td class='contactcell'>Brophy, Michelle<br>1646 Ridge Rd
Lansing, NY
14882<br>533-4845<br>springunschool@yahoo.com<br>Danny</td><td class='contactcell'>Brown, Sara<br>Wecker, Neal<br>30 Banks Road, Brooktondale, NY 14817<br>273-0756<br>sarajibrown@yahoo.com<br>Sheila</td></tr><tr><td class='contactcell'>Bruce-Robertson, Jane<br>Bruce-Robertson, Lawrence<br><br>277-6684<br>lb94@cornell.edu<br>Julia, Caroline, William</td><td class='contactcell'>Buechel, Jacquelyn<br>Buechel, Aaron<br>312 Auburn St
Ithaca, NY 14850<br>277-1683<br>A_JBuechel@msn.com<br>Quinn, Anton</td></tr><tr><td class='contactcell'>Burrill, Judy<br>Bonney, Rick<br>600 Barnes Hill
Newfield, NY 14867<br>564-7625<br>josielb1@yahoo.com<br>Jessie, Sean</td><td class='contactcell'>Bush, Melanie<br>Smith, Roger<br>212 E. Yates St.  Ithaca, NY 14850<br>256-8096<br>melaniebush_77@yahoo.com<br>Magdalena</td></tr><tr><td class='contactcell'>Carberry, Claudia<br>Carberry, John<br>1489 Trumansburg road, Ithaca 14850<br>269-0402<br>val_kyries@yahoo.com<br>Colleen, Kathleen</td><td class='contactcell'>Carpenter, Annie<br>Mike, Carpenter<br>192 S Van Dorn Rd
Ithaca, NY 14850
<br>277-4204<br>sevenfolks@aol.com<br>Korin</td></tr><tr><td class='contactcell'>Cohen, Liz<br>Pat Flery<br>423 Mitchell St
Ithaca, NY<br>272-2025<br>helpgoto@yahoo.com<br>Ava</td><td class='contactcell'>Colt-Demaree, Jennifer<br>Demaree, Robert<br>201 E Marshall St
Ithaca, NY 14850<br>275-0010<br>jenncd@gmail.com<br>Emerson, Ian</td></tr><tr><td class='contactcell'>Daniel, Monica<br>Cuevas, Jorge<br>253 N. Applegate Road
Ithaca, NY 14850<br>256-9095<br>monica@htva.net<br>Taina, Antonio</td><td class='contactcell'>Faehndrich, Lorraine<br>208 Rachel Carson Way
Ithaca, NY 14850<br>272-1258<br>Lfaehndri@aol.com<br>Chloe</td></tr><tr><td class='contactcell'>Feavearyear, Jody<br>Feavearyear, David<br>303 Millard Hill Rd.
Newfield, NY 14867<br>564-3146<br>jodyfeav@lightlink.com<br>Elizabeth, Emily</td><td class='contactcell'>Fitzke, Aileen<br>Fitzke, Karl<br>202 Rachel Carson Way
Ithaca, NY 14850<br>277-4742<br>afitzke@ecovillage.ithaca.ny.us<br>Nicholas, Joseph</td></tr><tr><td class='contactcell'>Foree, Melissa<br>Wasmer, Julie<br>212 Ludlowville Rd
Lansing, NY 14882<br>533-4623<br>salmoncreekbnb@yahoo.com<br>Jonah</td><td class='contactcell'>Fox, Claire<br>Zifchock, Mark<br>855 Five Mile Drive
Ithaca, NY 14850<br>227-9237<br>clairehopefox@yahoo.com<br>Felix, Casper</td></tr><tr><td class='contactcell'>Gaygen, Judy<br>Gaygen, Dan<br>14 Ringwood Ct. West
Ithaca, NY 14850<br>539-6152<br>jkgaygen@twcny.rr.com<br>Ryan</td><td class='contactcell'>George, ej<br>Dennis, Aaron<br>6301 Searsburg Rd
Trumansburg, NY 14886<br>387-3602<br>ejgeorge@riseup.net<br>Taidgh, Cian</td></tr><tr><td class='contactcell'>Gibson-Reyer, Priscilla<br>2093 West Danby Road, Newfield, NY 14867<br>607-564-9518<br>littleleafhome@yahoo.com<br>Gabriel, Hannah, Liam</td><td class='contactcell'>Glaser, Linda<br>Glaser, Phil<br>124 Rachel Carson Way
Ithaca, NY 14850<br>256-1716<br>lindag@ecovillage.ithaca.ny.us<br>Tzipora, Elisheva</td></tr><tr><td class='contactcell'>Grace-Martin, Karen<br>Grace-Martin, Mike<br>678 Valley Road, Brooktondale, NY 14817<br>539-3216<br>kgm@mindtree.org<br>Julian, Cecilia</td><td class='contactcell'>Grady, Ellen<br>DeMott, Peter<br>133 Sheffield Road, Ithaca NY 14850<br>277-6932<br>degr@lightlink.com<br>Nora, Saoirse, Rosie</td></tr><tr><td class='contactcell'>Grimm, Pamela<br>Grimm, David<br><br>216-4161<br>cis108@yahoo.com<br>Hannah</td><td class='contactcell'>Groves-Haley, Bec<br>Haley, Jeff<br>121 Bone Plain Rd
Freeville, NY 13068<br>844-3264<br>dragonflyrose@juno.com<br>Sierra, Hana</td></tr><tr><td class='contactcell'>Haskins, Stephanie<br>431 Enfield Center Rd
Ithaca, NY
14850<br>277-7279<br>shaskins@usadatanet.net<br>Kai, Asa</td><td class='contactcell'>Havell, Tanya<br>McCulloch, Jeanette<br><br>330-2741<br>thavell@yahoo.com<br>Amelia (Millie)</td></tr><tr><td class='contactcell'>Herden, Della<br>Herden, Tom<br>5961 Rte 224
Cayuta, NY 14824<br>594-4699<br>dfherden@htva.net<br>Boon, Quinn</td><td class='contactcell'>Holmes Stairs, Kimberly<br>Stairs, Scott<br>121 Cortland Rd, Dryden NY 13053<br>342-3305<br>kimberlyannholmes@gmail.com<br>Gregory, Gregory</td></tr><tr><td class='contactcell'>Holzbaur, Donna<br>Westwater, Royal<br>8480 Iradell Rd. 
Trumansburg, NY 14886<br>387-3791<br>dholzbaur@yahoo.com<br>Max</td><td class='contactcell'>Houseknecht, Ilana<br>Bryant, Michael<br>405 Esty St. Ithaca, NY 14850<br>272-5079<br>icoyote@verizon.net<br>Milo, Sasha</td></tr><tr><td class='contactcell'>Humphrey, Julie<br><br>868-7631<br>JAnn1027@aol.com<br>Vanessa</td><td class='contactcell'>Jackier, Lynne<br>Simon, John<br>220 Cleveland Ave, Ithaca, NY 14850<br>272-8587<br>ljackier@twcny.rr.com<br>Kenzey</td></tr><tr><td class='contactcell'>Jenkins, Brooke<br>Jenkins, Ben<br>1099 Ithaca Rd.
Spencer, NY 14883<br>564-1805<br>brookejenkins3@yahoo.com<br>Solomon, Calem</td><td class='contactcell'>Johnson, Inge<br><br>280-2750<br>kristeninge@yahoo.com<br>Tucker, Amelia</td></tr><tr><td class='contactcell'>Karns, Liz<br>Brennan, Tad<br>510 Hanshaw Road
Ithaca, NY 14850<br>229-6188<br>lizkarns@gmail.com<br>Lexi</td><td class='contactcell'>Kingsley, Tanya<br>Kingsley, David<br>126 3rd Street
Watkins Glen, NY
14891<br>535-7564<br>tanya_rosario@yahoo.com<br>Diego, Daniel</td></tr><tr><td class='contactcell'>Kuntz, Suzanne<br>Kuntz, Bruce<br>131 Lexington Drive<br>257-2427<br>sbkuntz@twcny.rr.com<br>Elizabeth</td><td class='contactcell'>Makarchuk, Jane<br>Makarchuk, Scott<br>337 Snyder Hill Rd
Ithaca, NY 14850<br>256-7553<br>dazyjane@gmail.com<br>Aiden, Jarek, Andrei</td></tr><tr><td class='contactcell'>Marks, Gigi<br>Tily, Blair<br>2291 Perry City Road, Ithaca, NY 14850<br>277-8280<br>gmarks@ithaca.edu<br>Robin, Fiona, Sasha</td><td class='contactcell'>McCarty, Heather<br>Feirman, Jeffrey<br>151 Wood Road
Freeville, NY 13068<br>347-4147<br>hbmccarty@twcny.rr.com<br>Arlo, Rachel</td></tr><tr><td class='contactcell'>Moran, Jennifer<br>Moran, Todd<br>430 Winthrop Dr #1
Ithaca, NY 14850<br>257-5020<br>j2_mor@verizon.net<br>Allyson, Henry</td><td class='contactcell'>Morgan, Julia<br>Lambert, Rod<br>234 Rachel Carson Way
Ithaca, NY 14850<br>275-3362<br>juliam@ecovillage.ithaca.ny.us<br>Benjamin</td></tr><tr><td class='contactcell'>Moss, Pamela<br>Hall, Brian<br>819 N. Tioga St.<br>277-5817<br>pamela@InnerVisionPortraits.com<br>Cora</td><td class='contactcell'>Panzer, Nina<br>Bushlow, Lisa<br>116 N. Titus Ave
Ithaca, NY 14850<br>277-3270<br>nmpanzer@aol.com<br>Sam</td></tr><tr><td class='contactcell'>Rider, Maria<br>398 East Hill Road
Spencer, NY 14883<br>607-589-7663<br>mariarider@yahoo.com<br>Cameron, Molly</td><td class='contactcell'>Roberts, Hank<br>Roberts, Jane<br>253 Codington Road
Ithaca, NY 14850<br>256-4760<br>hankr@lightlink.com<br>Will, Lucia</td></tr><tr><td class='contactcell'>Ruffing, Jennifer<br>Ruffing, Jonathon<br>57 Lois Lane
Ithaca, NY 14850<br>256-8586<br>blainejennifer@yahoo.com<br>Brennan</td><td class='contactcell'>Salmon, Mary Ellen<br>Sherrill, Joe<br><br>387-3331<br>mepez18@yahoo.com<br>Dorothy</td></tr><tr><td class='contactcell'>Shank, Gerda<br>Shank, Oliver<br>428 N Tioga Street
Ithaca, NY 14850-4828<br>273-4709<br>gerda.shank@gmail.com<br>Daniel, David, Samuel</td><td class='contactcell'>Shopis, Crista<br>Carpenter, Kendal<br>312 Lake Ave
Ithaca, NY 14850<br>277-6602<br>cshopis@yahoo.com<br>Sirena, Aram</td></tr><tr><td class='contactcell'>Singer, Poppy<br>Franke-Singer, Matthew<br>83 Nelson Rd
Ithaca, NY 14850<br>273-4041<br>poppys@twcny.rr.com<br>Leo</td><td class='contactcell'>Soriano, Carolyn<br>Verhagen, Jim<br>305 Hudson St
Ithaca, NY
14850<br>272-8024<br>ca@clubcyrus.com<br>T. Rose</td></tr><tr><td class='contactcell'>Spaulding-Lydon, Sarah<br>Lydon, Jeff<br>3666 Middle Rd
Burdett, NY 14818<br>546-2667<br>whalesong@empacc.net<br>Eva, Morgan</td><td class='contactcell'>Stearns, Carrie<br>Joyce, Tom<br>598 Hayts Rd
Ithaca, NY 14850<br>277-7426<br>carriejst@bluefrog.com<br>Rayna</td></tr><tr><td class='contactcell'>Stiles, Michael<br>Stiles, Kelly<br><br>387-3136<br>ariava100@aol.com<br>Ava</td><td class='contactcell'>Sumner, Wendy<br>Sumner, Jeremy<br><br>387-5123<br>wss1@cornell.edu<br>Julia, Wyatt</td></tr><tr><td class='contactcell'>Thompson, Amy<br>Lynch, John<br>34 Besemer Hill Rd
Ithaca, NY 14850<br>539-3187<br>omemama@yahoo.com<br>Madegan, Emmet, Owen</td><td class='contactcell'>Tuttle, Robin<br>Gelber,  Steve<br>107 Forest Home Drive
Ithaca, NY 14850<br>257-2911<br>rtuttle1@twcny.rr.com<br>Jacob, Jonah, Elias</td></tr><tr><td class='contactcell'>Willet, Pamela<br>Willet, Alan<br>125 Rachel Carson Way
Ithaca, NY 14850<br>273-1326<br>pmw@ecovillage.ithaca.ny.us<br>Allegra, Jacob, Orion</td><td class='contactcell'>Wyly, Brendan<br>Grace, Kristen<br>212 South Hill Terrace, Ithaca, NY 14850<br>256-8692<br>wylybj@yahoo.com<br>Kate</td></tr>
</table>		 
		 
		 <!-- InstanceEndEditable -->	
		</div>
		<div id="footer">
			<p class="copyright">Copyright &#xA9; 2005 Northern Light Learning Center. All Rights Reserved.</p>
		</div>
	</div>
</div>
<P>&nbsp;</P>
</body>
<!-- InstanceEnd --></html>
